body {
  background-image: url(http://www.intrawallpaper.com/static/images/4640301.jpg);
  background-size: cover;
}
header {
  border: 4px ridge #000000;
  background-color: grey;
}

header h1 {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-shadow: 4px 4px 6px #000000;
}

nav {
  align-items: center;
  font-size: 12px;
}

header nav ul li {
  display: inline;
  color: #000000;
  text-shadow: none;
  text-decoration: none;
}

#content {
  border:2px solid red;

}

#about_me {
  border: 2px solid red;
  font-family: serif;
  float: left;
  width: 75%;
}

#mad_libs {
  border: 2px solid red;
  float: left;
  width: 75%;
}

#top_ten {
  border:2px solid red;
  float: left;
  width: 75%;
}

aside {
  border: 2px solid red;
  float: right;
  width: 20%;
  clear:right:
}

footer {
  border: 2px solid red;
  clear: both;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
}

footer nav ul li {
  display: inline;
  color: #000000;
  text-shadow: none;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 20px;
}
