body {
  font-family: Arial, Verdana, sans-serif;
  color: red;
  background: grey;}

h1 {
 font-family:sans-serif;
 color: blue;}

 h2 {
   /* make this purdy */
 }

div {
  background: green; /* change background to a pic of dude from picture pages */
}
